<h1>User info</h1>
<table>
  <tbody>
    <tr>
      <th>name<%= user.name %></th>
      <th></th>
    </tr>
    <tr>
      <th>introduction<%= user.introduction %></th>
      <th></th>
    </tr>
  </tbody>
</table>
<% if user == current_user %>
  <p><%= link_to "編集", edit_user_path(user) %></p>
<% end %>



<!--投稿部分-->
<h1>New book</h1>
<%= form_with model: book do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>