<%= render 'list', book: @book %>

<!--book detail-->
<h1>Book detail</h1>
<%= link_to user_path(@books.user.id) do %>
  <%= image_tag @books.user.get_profile_image(100,100) %>
  <%= @books.user.name %>
<% end %>
<%= link_to @books.title, book_path(@books.id) %>
<%= @books.body %>
<%= link_to "Edit", edit_book_path(@books.id) %>
<%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に消しますか？" %>